req-payment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="cardNo"/>
        <xs:element type="xs:string" name="expires"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:float" name="amount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>